.about-section {
    padding: 64px 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
    background: linear-gradient(to right, #ECF2FF, #FBFCFF);
  }
  
  /* Image */
  .about-image-content {
    width: 40%;
    max-width: 100%;
    text-align: center;
  }
  
  .about-image1 {
    width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  /* Text */
  .about-text-content {
    width: 50%;
  }
  
  .about-title {
    font-family: 'Poppins', sans-serif;
    font-size: 48px;
    font-weight: bold;
    color: #4d4b4b;
    margin-bottom: 32px;
    position: relative;
  }
  
  .about-title::before {
    content: '';
    position: absolute;
    width: 50%;
    height: 4px;
    background-color: #9D2553;
    border-radius: 8px;
    left: 0;
    bottom: -12px;
  }
  
  .about-description {
    margin-bottom: 32px;
    color: #4d4b4b;
    font-family: 'Rubik', sans-serif;
    font-size: 20px;
    line-height: 1.5;
  }
  
  .about-text-title {
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: #4d4b4b;
    margin-bottom: 16px;
  }
  
  /* Steps */
  .about-text-step {
    margin-bottom: 24px;
  }
  
  .about-text-sTitle {
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: #4d4b4b;
    margin-bottom: 8px;
  }
  
  .about-text-description {
    color: #4d4b4b;
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    line-height: 1.5;
  }
  
  .fa-icon {
    color: #9D2553;
    margin-right: 8px;
    padding: auto;
  }
  
  /* Responsive */
  @media screen and (max-width: 1000px) {
    .about-section {
      display: block;
      padding: 32px;
    }
  
    .about-image-content {
      width: 100%;
      max-width: 100%;
      margin-bottom: 32px;
    }
  
    .about-text-content {
      width: 100%;
    }
  }